<!DOCTYPE html>
<html>
<head>
	<title>เข้าสู่ระบบ</title>
  		<script src="https://code.jquery.com/jquery-1.12.0.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.15/d3.min.js" charset="utf-8"></script>
  		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" >
</head>
<body >

<div id="framework">
	<!-- ####banner#### -->
		<!-- ####banner#### -->
	    <div id="banner-home">
	        <img src="{% static "banner/new-banner-middle.jpg" %}"> 
	    </div>
	
		<div id="topic-home">
			<img src="{% static "banner/topic-login.jpg" %}">
		</div>
	
		<div class="login">
				<form id="formlogin" method="post"  >{% csrf_token %}
					{{state}} <br>
					ชื่อผู้ใช้: 
					<input type="text" name="username"/><br />
					รหัสผ่าน:
					<input type="password" name="password"/><br />
				</form>

				<button id="btnSubmit" type="submit" value="เข้าสู่ระบบ" form="formlogin">เข้าสู่ระบบ</button>
				<button id="btnRegis" type="submit" value="สมัครสมาชิก" ng-click="redirectToRegis()"><a href="../registration">สมัครสมาชิก</a></button>
		</div>

</div>	
</body>
</html>
