
<!DOCTYPE html>
<html>
<head>
	<title>เข้าสู่ระบบ</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="style.css">

</head>

<body>
<div class="login">
	<ul id="login">
		{{state}}
		<form method="post" action="{% url 'login' %}" >{% csrf_token %}
			<h1>เข้าสู่ระบบ</h1>
			ชื่อผู้ใช้: 
			<input type="text" name="username"/><br />
			รหัสผ่าน:
			<input type="password" name="password"/><br />
			<input id="btnSubmit" type="submit" value="เข้าสู่ระบบ" />
		</form>
	</ul>
</div>
</body>
</html>