<!DOCTYPE html>
<html>
	<head>
		<title>ประวัติผลการเรียน</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" >
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	</head>
<body ng-app="home" ng-controller="homeCtrl">

		<div id="status">
        	<p>{{request.session.username}}<button>ออกจากระบบ</button></p>  
    	</div>

		<!-- ####banner#### -->
		<div id="banner-home">
			<img src="{% static "banner/new-banner-middle.jpg" %}"> 
		</div>

		<!-- ####menu#### -->
		<div id="menu-bar">
			<ul id="menu">
				<li><a href="../homep/" id="history-click">หน้าแรก</a></li>
				<li><a href="../showprofile/" >ประวัติผลการเรียน</a></li>
				<li><a href="../predict/" id="predict">ทำนายผลการเรียน</a></li>
			</ul>
		</div>

		<div id="topic-home">
			<img src="{% static "banner/topic-home.jpg" %}">
		</div>

		
		<div id="curriculum">
		</div>
{% verbatim %}
{% endverbatim %}
<script>
var app = angular.module('home', []);
app.controller('homeCtrl', function($scope) {
    
       
});
</script>
</body>
</html>
