<!DOCTYPE html>
<html>
<head>
  <title>หน้าแรก</title>
  <script src="https://code.jquery.com/jquery-1.12.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.15/d3.min.js" charset="utf-8"></script>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" >
<style>
.link {
  fill: none;
  stroke: #666;
  stroke-width: 2.5px;
}
#licensing {
  fill: #6E6E6E;
}
.link.licensing {
  stroke: #6E6E6E;
}

.node.comsci {
  fill: #74DF00;
  
}
.node.general {
  fill: #F3F781;
  
}
.node.freedom {
  fill: #81DAF5;
  
}
text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
</style>
</head>
<body>
<div id="framework">
<!-- ####banner#### -->
  <div id="banner-top">
        <span id="logout"><button>ออกจากระบบ</button></span>
        <span id="user">{{request.session.username}}</span>
  </div>

  <div id="banner-home">
    <img src="{% static "banner/new-banner-middle.jpg" %}"> 
  </div>
  <!-- ---------menu------------ -->
  <div id="menu-bar" width= "1000px">
    <ul id="menu">
      <li ><a href="../homep/"  id="history-click">หน้าแรก</a></li>
      <li><a href="../showprofile/" >ประวัติผลการเรียน</a></li>
      <li><a href="../predict/">ทำนายผลการเรียน</a></li>
    </ul>
  </div>
  <div id="topic-home">
    <img src="{% static "banner/topic-home.jpg" %}">
  </div>
  <div id="curriculumD3">
  </div>
  

<script>
var w = 1300,
    h = 1100;

var focus_node = null, highlight_node = null, highlight_link = null;

var text_center = false;
var outline = false;

var highlight_color = "black";
var highlight_trans = "0.1";
 


var max_text_size = 24;
var nominal_stroke = 1.5;
var max_stroke = 4.5;


//import json to d3
d3.json("../coordinate.json", function(error, jsonfile) {
  console.log(jsonfile.myfile.node);
var js = jsonfile.myfile;

var nodes = js.node
var links = js.link
var graph = {nodes,links};

var linkedByIndex = {};
    graph.links.forEach(function(d) {
  linkedByIndex[d.source + "," + d.target] = true;
    });

  function isConnected(a, b) {
        return linkedByIndex[a.index + "," + b.index] || linkedByIndex[b.index + "," + a.index] || a.index == b.index;
    }


var force = d3.layout.force()
    .nodes(graph.nodes)
    .links(graph.links)
    .size([w, h])
    .linkDistance(25)
    .charge(-150)
    .on("tick", tick)
    .start();

var svg = d3.select("body").append("svg")
      .attr("width", w)
      .attr("height", h)
      .style("cursor","move");


// Per-type markers, as they don't inherit styles.
svg.append("defs").selectAll("marker")
    .data(["suit", "licensing", "resolved"])
    .enter().append("marker")
    .attr("id", function(d) { return d; })
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 15)
    .attr("refY", -1.5)
    .attr("markerWidth", 6)
    .attr("markerHeight", 6)
    .attr("orient", "auto")
    .append("path")
    .attr("d", "M0,-5L10,0L0,5");

var g = svg.append("g");
var link = g.selectAll("graph.links")
    .data(graph.links)
    .enter().append("line")
    .attr("class", "link")
    .style("stroke-width",nominal_stroke)
    .attr("class", function(d) { return "link " + d.type; })
    .attr("marker-end", function(d) { return "url(#" + d.type + ")"; });

var node = g.selectAll("graph.nodes")
    .data(graph.nodes)
    //.enter().append("g")
    .enter().append("circle")
    .attr("class", "node")
    .attr("class", function(d) { return "node " + d.type; })
    .attr("r", 6)
    .call(force.drag);

  ;
  
var tocolor = "fill";
var towhite = "stroke";
  if (outline) {
    tocolor = "stroke"
    towhite = "fill"
  }

var text = g.selectAll(".text")
     .data(graph.nodes)
     .enter().append("text")
     .attr("dy", ".35em")
     .style("font-size", 10 + "px")
     .text(function(d) { return '\u2002'+d.name; });

//interact with mouseover -> set highlight node with stoke black
  node.on("mouseover", function(d) {
      set_highlight(d);
      })

      .on("mousedown", function(d) { 
        d3.event.stopPropagation();
        focus_node = d;
        set_focus(d)
          if (highlight_node === null) 
            set_highlight(d)
        })
      .on("mouseout", function(d) {
        exit_highlight();
        });

    d3.select(window).on("mouseup",  
    function() {
    if (focus_node!==null)
    {
      focus_node = null;
      if (highlight_trans<1)
      {
        node.style("opacity", 1);
        text.style("opacity", 1);
        link.style("opacity", 1);
      }
    }
  
    if (highlight_node === null) exit_highlight();
    });

function set_focus(d)
{ 
if (highlight_trans<1)  {
    node.style("opacity", function(o) {
                return isConnected(d, o) ? 1 : highlight_trans;
            });

      text.style("opacity", function(o) {
                return isConnected(d, o) ? 1 : highlight_trans;
            });
      
            link.style("opacity", function(o) {
                return o.source.index == d.index || o.target.index == d.index ? 1 : highlight_trans;
            });   
  }
}

function set_highlight(d)
{
  svg.style("cursor","pointer");
  if (focus_node!==null) d = focus_node;
  highlight_node = d;

  if (highlight_color!="white")
  {
      node.style(towhite, function(o) {
                return isConnected(d, o) ? highlight_color : "white";});
      text.style("font-weight", function(o) {
                return isConnected(d, o) ? "bold" : "normal";});
      link.style("stroke", function(o) {
                return o.source.index == d.index || o.target.index == d.index ;});
  }
}

function exit_highlight()
{
  highlight_node = null;
  if (focus_node===null)
  {
    svg.style("cursor","move");
    if (highlight_color!="white")
    {
      node.style(towhite, "white");
      text.style("font-weight", "normal");
    }
  }
}
  
  
  function tick() {
    
    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    text.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  
    link.attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });
    
  }
  
  
});

</script> 
</div>
</body>
</html>