<!DOCTYPE html>
<html>
<head>
	<title>ประวัติผลการเรียน</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-1.12.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.15/d3.min.js" charset="utf-8"></script>
  	<style>
		ul#menu {
		padding: 0;
		}
		ul#menu li {
		display: inline;
		}
		ul#menu li a {
		background-color: black;
		color: white;
		padding: 10px 20px;
		text-decoration: none;
		border-radius: 4px 4px 0 0;
		}
		ul#menu li a:hover {
		background-color: orange;
		}
		
		ul#menu li a#history{
		background-color: orange;
		}

	</style>
</head>
<body>
	<ul id="menu">
	  <li><a href="home.html">หน้าแรก</a></li>
	  <li><a href="addprofile.html" id="history">ประวัติผลการเรียน</a></li>
	  <li><a href="predict.html">ทำนายผลการเรียน</a></li>
	</ul>

	<img src="graph1.png">

</body>
</html>
