<!DOCTYPE html>
<html>
<head>
	<title>ทำนายผลการเรียน</title>
  <script src="https://code.jquery.com/jquery-1.12.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.15/d3.min.js" charset="utf-8"></script>
  {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" >

  	 

	
</style>
</head>
<body>
<div id="framework">
<!-- ####banner#### -->
	<div id="banner-home">
		<img src="{% static "banner/new-banner-middle.jpg" %}"> 
	</div>

	<!-- ---------menu------------ -->
	<div id="menu-bar" width= "1000px">
		<ul id="menu">
		  <li ><a href="../homep/">หน้าแรก</a></li>
		  <li><a href="../showprofile/" >ประวัติผลการเรียน</a></li>
		  <li><a href="../predict/" id="history-click">ทำนายผลการเรียน</a></li>
		</ul>
	</div>

	<div id="topic-home">
		<img src="{% static "banner/topic-predict.jpg" %}">
	</div>


	<div id="curriculumD3">
	</div>


	<script>

	d3.json("../coordinate.json", function(error,jsonfile){
		console.log(jsonfile.myfile);
		var js = jsonfile.myfile;
		//console.log(js);
		var svgContainer = d3.select("#curriculumD3").append("svg")
		                                    .attr("width", 2200)
		                                    .attr("height", 2000);

		var nodeG = svgContainer.selectAll("g")
		          .data(js.node)
		          .enter()
		          .append("g");
		//console.log(nodeG);
		var rectangle = nodeG
		          .append("rect");
		var text = nodeG
		          .append("text");
		


		var rectangleAttributes = rectangle
		                          .attr("width", 40)
		                          .attr("height", 20)
		                          .attr("fill","none")
		                          .attr("stroke","black")
		                          .attr("stroke-width","1px")
		                          .attr("rx","10")
		                          .attr("ry","10")
		                          .attr("x", function (d) { return d.X*30; })
		                          .attr("y", function (d) { return d.Y*30; })
		                          .attr("id",function (d) {return d.COURSE_ID;});

		
		var fillenroll = d3.select("#CS101").attr("fill","#76ed00");
		var fillenroll = d3.select("#CS102").attr("fill","#76ed00");
		var fillenroll = d3.select("#CS111").attr("fill","yellow");

		var textAttributes = text
		                      .attr("font-family", "cordia new")
		                      .attr("font-size", "12px")
		                      .attr("fill","black")
		                      .attr("x", function(d) { return d.X*30; })
		                      .attr("y", function(d) { return d.Y*30; })
		                      .text( function (d) { return d.COURSE_ID; })
		                      .attr("transform","translate(9,13)");


		var node = nodeG
		          .attr("id", function (d) {return d.COURSE_ID;})

		var d3line = d3.svg.line()
		            //.data(json.edge)
		            //.enter()
		            .x(function(d) {return d.x*30+25;})
		            .y(function(d) {return d.y*30+10;})
		            .interpolate("linear");
		            
		js.edges.forEach(function(d){
		  svgContainer.append("svg:path")
		            .attr("d",d3line(d))
		            .style("stroke-width", 2)
		            .style("stroke", "steelblue")
		            .style("fill", "none");
		});

	});  
</script>

</div>	
</body>
</html>
