<!DOCTYPE html>
<html>
<head>
	<title>ประวัติผลการเรียน</title>
  <script src="https://code.jquery.com/jquery-1.12.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.15/d3.min.js" charset="utf-8"></script>
  {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" >
 
</style>
</head>
<body>
<div id="framework">
	<!-- --------banner---------- -->
	<div id="banner-home">
		<img src="{% static "banner/banner.jpg" %}"> 
	</div>


<!-- ---------menu------------ -->
	<div id="menu-bar">
		<ul id="menu">
		  <li ><a href="../homep/" id="home">หน้าแรก</a></li>
		  <li><a href="../showprofile/" id="history-click">ประวัติผลการเรียน</a></li>
		  <li><a href="../predict/" id="predict">ทำนายผลการเรียน</a></li>
		</ul>
	</div>

	<form id="myForm">
		<div id="subjectForm">
			<caption>ตารางแสดงผลการเรียน</caption>
			<table id="subjectTable">
				<tr>
					<th id="term">term</th>
					<th id="Subject">Subject</th>
					<th id="Grade">Grade</th>
				</tr>
			<table>
		</div>
		<div id="dbtnEdit">
	  	<button id="btnEdit" type="button">แก้ไขข้อมูล</button>
	  </div>
	</form>


<script type="text/javascript" language="javascript">
	d3.json("../jsonEnrollment.json",function(error,jsonEnrollment){
		var js = $(jsonEnrollment.js_enrollments);

		//js=4
			$(js).each(function(index, value){
				console.log(value);
				//loop -> create 4 row
				$('#subjectTable')
					.append($('<tr>')
						.append($('<td>')
							.text(value.term+"/"+value.year)

						)
						.append($('<td>')
							.text(value.stdsub_id +":"+ value.stdsub_name)

						)
						.append($('<td>')
							.text(value.grade)
						)
					);	
				
			});		
			

		$("#btnEdit").click(function(){
			//ajax
			var url = "http://localhost:8000/mywebpage/addprofile/"
			$(location).attr('href',url);
		});
	});
</script>
</div>
</body>
</html>
